{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
<link rel="stylesheet" href="{{ asset('styles/annonce.css') }}">

{% endblock %}


{% block body %}
<h2>Nouvelle Annonce</h2>
<form action="{{ path('handle_form_submission') }}" method="post">
    <label for="titre">Titre de l'annonce *</label>
    <input type="text" name="titre" required maxlength="100"/><br />
    
    
    <br />
    <label for="materiel">Matériel *</label>
    <select name="materiel" required>
        <option value="">Sélectionnez un tag pour votre matériel</option>
        {% for mats in categories %}
            <option value="{{ mats.getNom() }}">{{ mats.getNom() }}</option>
        {% endfor %}
    </select><br />
    
    <br />
    <label for="duree_pret">Durée</label>
    <input type="text" class="input_small" name="duree_pret_valeur" pattern="[0-9]+([\.][0-9]{1,2})?" maxlength="7" title="Entrez une durée valide (par exemple : 12 heures)"/>
    <select name="duree_pret">
        <option value="heures">heures</option>
        <option value="jours">jours</option>
    </select><br />
    
    <br />
    <label for="prix">Prix *</label>
    <input type="text" class="input_small" name="prix" pattern="[0-9]*" title="Entrez un prix valide (par exemple, 10, 50)" required maxlength="9"/><br />


    <br />
    <label for="description">Description</label><br />
    <textarea name="description" maxlength="255"></textarea><br />
    <br />

    </br>
    <label for="prix">* Champs obligatoires</label>
    </br>

    <button>Valider</button>
    <a href="{{ path('app_home_page') }}"><button type="button">Annuler</button></a>
</form>

{% endblock %}
