{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/profil.css') }}">
<script src="{{ asset('scripts/profil.js') }}"></script>
{% endblock %}

{% block title %}Profil{% endblock %}

{% block body %}

{% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

<div class="intro">
    <div>
        Bienvenue <span class="bold">{{ app.user.username }}</span> !
    </div>
    <div style="display: flex;">
        <div class="solde">Solde :&nbsp;<span class="bold">{{ app.user.nbflorains }}</span> <span class="material-icons spe">attach_money</span></div>
        Abonnement&nbsp;<span class="bold">{{ app.user.abonnement.nom }}</span>
    </div>
</div>

<div class="tab-container">
    <div class="tab-buttons">
        <button class="tab-button" onclick="openTab(event, 'tab1')">Informations personnelles</button>
        <button class="tab-button" onclick="openTab(event, 'tab2')">Mes Annonces</button>
        <button class="tab-button" onclick="openTab(event, 'tab3')">Mes Transactions</button>
        <button class="tab-button" onclick="openTab(event, 'tab4')">Mon Planning</button>
    </div>

    <div id="tab1" class="tab active">
        <span class="material-icons edit" title="modifier vos informations" onclick='edit(this)'>{% if edit_mode %}cancel{% else %}edit_square{% endif %}
        </span>
        <h3>Vos informations personnelles</h3>
        <div>
            <form action="{{ path('handle_infos_form') }}" method="POST">
                <div class="blockI">
                    <label>Nom d'utilisateur</label><br>
                    <input type="text" name="username" value="{{ app.user.username }}" {% if not edit_mode %}readonly{% endif %}><br>
                    <div class="erreur">{% if errors['username'] is defined %} {{ errors['username'] }} {% endif %}</div>
                </div>
                <div class="blockI">
                    <label>Email</label><br>
                    <input type="email" name="email" value="{{ app.user.email }}" {% if not edit_mode %}readonly{% endif %}><br>
                    <div class="erreur">{% if errors['email'] is defined %} {{ errors['email'] }} {% endif %}</div>    
                </div>
                <div class="blockI">
                    <label>Prénom</label><br>
                    <input type="text" name="prenom" {% if app.user.firstname %} value="{{ app.user.firstname }}" {% else %} placeholder="Non spécifié." {% endif %} {% if not edit_mode %}readonly{% endif %}><br>
                </div>
                <div class="blockI">
                    <label>Nom</label><br>
                    <input type="text" name="nom" {% if app.user.surname %} value="{{ app.user.surname }}" {% else %} placeholder="Non spécifié." {% endif %} {% if not edit_mode %}readonly{% endif %}><br>    
                </div>
                <button type="submit" name="valider" {% if not edit_mode %}class="validerBouton"{% endif %}>Valider les modifications</button>
                <br><button>Changer de mot de passe</button>
            </form>
        </div>
        <div>
        </div>
    </div>

    <div id="tab2" class="tab">
        <h3>Mes Annonces</h3>
        <p>En construction</p>
    </div>

    <div id="tab3" class="tab">
        <p class="big">CIRCULEZ, IL N'Y A RIEN A VOIR.</p>
    </div>

    <div id="tab4" class="tab">
        <p class="big">CIRCULEZ, IL N'Y A RIEN A VOIR.</p>
    </div>
</div>

</body>
</html>

{% endblock %}
