{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
<link rel="stylesheet" href="{{ asset('styles/annonces.css') }}">
<script src="{{ asset('scripts/accueil.js') }}"></script>
{% endblock %}

{% block title %}EcoPrêt{% endblock %}
{# templates/base.html.twig #}

{% block body %}
<div class="publish">
    Publiez une annonce !
    <a href="{{ path('app_pret_materiel') }}"><button>Prêter du matériel</button></a>
    <a href = "{{ path('app_offre_service') }}"><button>Offrir un service</button></a>
</div>
<h2>Annonces</h2>

<div class="tout">
    {% for annonce in annonces %}
        {% if annonce.getPosteur().isSleepMode() == false and annonce.getStatut() == "Disponible" %}
            <a href="{{ path('app_vue_annonce', {'id': annonce.id}) }}" class="lienAnnonce"><div class="blocAnnonce">
                <div>
                    <span class="prix">{{ annonce.getPrix() }}<span class="material-icons">attach_money</span></span>
                    <div style="display: flex; align-items: center;"><div {% if annonce.posteur.isBusy() %}class="cercle rouge"{% else %}class="cercle vert"{% endif %}></div><span class="username">{{ annonce.getPosteur().getUsername() }}</span></div>
                </div>
                <div class="type">{{ annonce.getType() }}</div>
                <div class="categorie">{{ annonce.getCategorie().getNom() }}</div>
                {% if annonce.getType() == "Materiel" %}<div class="duree">Durée du prêt : {{ annonce.getDuree() }}</div>{% endif %}
                <h3>{{ annonce.getTitre() }}</h3>
                <div class="description">{{ annonce.getDescription() }}</div>
                {# L'utilisateur est prenium #}
                {% if app.user and app.user.abonnement == "2" and app.user.id != annonce.getPosteur().id and annonce.getStatut() == "Disponible" %}
                    {% if  annonce.getTransaction()  == null or annonce.getTransaction.client != app.user %}
                        {% if annonce.attentes is empty %}
                            <button class="emprunter" onclick="confirmerEmprunt(event, '{{ annonce.getId() }}', '{{ annonce.getType() }}')">Emprunter</button>
                        {% elseif annonce.transaction and annonce.contientUserDansFiles(app.user) == false %}
                            <button class="emprunter" onclick="confirmerEmprunt(event, '{{ annonce.getId() }}', '{{ annonce.getType() }}')">Ajouter dans la file d'attente</button>
                        {% endif %}
                    {% endif %}
                {# L'utilisateur n'est pas prenium, ne peut pas emprunter les matériels #}
                {%elseif app.user and app.user.abonnement == "1" and app.user.id != annonce.getPosteur().id and annonce.getStatut() == "Disponible" %}
                    {% if  annonce.getTransaction()  == null or annonce.getTransaction.client != app.user %}
                        {% if annonce.attentes is empty and annonce.getType() == "Service" %}
                            <button class="emprunter" onclick="confirmerEmprunt(event, '{{ annonce.getId() }}', '{{ annonce.getType() }}')">Emprunter</button>
                        {% elseif annonce.transaction and annonce.contientUserDansFiles(app.user) == false and annonce.getType() == "Service" %}
                            <button class="emprunter" onclick="confirmerEmprunt(event, '{{ annonce.getId() }}', '{{ annonce.getType() }}')">Ajouter dans la file d'attente</button>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>
    {# Barre de navigation de pagination #}
    <nav aria-label="Navigation de pagination">
        <ul class="pagination">
            {# Bouton "Précédent" #}
            {% if pageActuelle > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pageActuelle - 1 }}" aria-label="Précédent">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Précédent</span>
                    </a>
                </li>
            {% endif %}

            {# Lien vers les pages #}
            {% for i in 1..nombrePages %}
                <li class="page-item {{ i == pageActuelle ? 'active' : '' }}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}

            {# Bouton "Suivant" #}
            {% if pageActuelle < nombrePages %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pageActuelle + 1 }}" aria-label="Suivant">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
