{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
{% endblock %}

{# templates/base.html.twig #}

{% block body %}
<div class="publish">
    Publiez une annonce !
    <a href="{{ path('app_pret_materiel') }}"><button>Prêter du matériel</button></a>
    <a href = "{{ path('app_offre_service') }}"><button>Offrir un service</button></a>
</div>
<h2>Annonces</h2>
<div class="table-container">
    <div class="table-wrapper">
        <h3>Services</h3>
        <table>
            <thead>
                <tr>
                    <th class="border-bottom text-left">Titre</th>
                    <th class="border-bottom text-left">Description</th>
                    <th class="border-bottom text-left">Prix</th>
                    <th class="border-bottom text-left">Statut</th>
                    <th class="border-bottom text-left">Posteur</th>
                </tr>
            </thead>
            <tbody>
                {% for anoServ in annonceService %}
                    <tr>
                        <td class="border-bottom text-left">{{anoServ.getTitre()}}</td>
                        <td class="border-bottom text-left">{{anoServ.getDescription()}}</td>
                        <td class="border-bottom text-left">{{anoServ.getPrix()}}€</td>
                        <td class="border-bottom text-left">{{anoServ.getStatut()}}</td>
                        <td class="border-bottom text-left">{{anoServ.getPosteur().getUsername()}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-wrapper">
        <h3>Matériels</h3>
        <table>
            <thead>
                <tr>
                    <th class="border-bottom text-left">Titre</th>
                    <th class="border-bottom text-left">Description</th>
                    <th class="border-bottom text-left">Prix</th>
                    <th class="border-bottom text-left">Statut</th>
                    <th class="border-bottom text-left">Posteur</th>
                </tr>
            </thead>
            <tbody>
                {% for anoMat in annonceMateriel %}
                    <tr>
                        <td class="border-bottom text-left">{{anoMat.getTitre()}}</td>
                        <td class="border-bottom text-left">{{anoMat.getDescription()}}</td>
                        <td class="border-bottom text-left">{{anoMat.getPrix()}}€</td>
                        <td class="border-bottom text-left">{{anoMat.getStatut()}}</td>
                        <td class="border-bottom text-left">{{anoMat.getPosteur().getUsername()}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
