{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
<link rel="stylesheet" href="{{ asset('styles/statut.css') }}">
<link rel="stylesheet" href="{{ asset('styles/annonces.css') }}">
<link rel="stylesheet" href="{{ asset('styles/vueAnnonces.css') }}">
<link rel="stylesheet" href="{{ asset('styles/input.css') }}">
<link rel="stylesheet" href="{{ asset('styles/etoiles.css') }}">
<script src="{{ asset('scripts/annonces.js') }}"></script>
<script src="{{ asset('scripts/etoiles.js') }}"></script>
<script src="{{ asset('scripts/accueil.js') }}"></script>
{% endblock %}

{% block title %}EcoPrêt{% endblock %}
{# templates/base.html.twig #}

{% block body %}
<div class="publish">
    Publiez une annonce !
    <a href="{{ path('app_pret_materiel') }}"><button class="publishButton">Prêter du matériel</button></a>
    <a href = "{{ path('app_offre_service') }}"><button class="publishButton">Offrir un service</button></a>
</div>
<div class="searchZone">
    <h2 style="margin: 0">Annonces</h2>
    <form action="{{ path('app_home_page')}}" method="GET" style="margin: auto;">
        <div class="searchBar">
            <input type="text" class="searchInput" name="texte" id="searchInput" value="{{recherche}}">
            <div style="position: relative;">
                <span class="material-icons filter {% if filtered %}red{% endif %}" onclick="filtrer()">filter_list</span>
                <div class="filtres" id="filtres">
                    <div class="blocFiltres types">
                        <h4 title="ne cherchez que des annonces de prêt (matériel) ou service (service) ou pas (tout)">Type</h4>
                        <div style="display: flex; justify-content: space-between">
                            <div>
                                <input type="radio" name="type" id="toutType" value="tout" onclick="noFilterType()" {% if type == "tout" %}checked{% endif %}>
                                <label for="toutType" style="margin-right: 10px;">Tout</label>
                            </div>
                            <div>
                                <input type="radio" name="type" id="materielType" onclick="filtrerMateriel()" value="materiel" {% if type == "materiel" %}checked{% endif %}>
                                <label for="materielType" style="margin-right: 10px;">Matériel</label>
                            </div>
                            <div>
                                <input type="radio" name="type" id="serviceType" onclick="filtrerService()" value="service" {% if type == "service" %}checked{% endif %}>
                                <label for="serviceType">Service</label>
                            </div>
                        </div>
                    </div>
                    <div class="blocFiltres {% if type == "tout" %}hidden{% endif %}" id="categorieFiltre">
                        <fieldset>
                        <legend>
                            <h4 title="cherchez uniquement des annonces avec les catégories sélectionnées">Catégories</h4>
                        </legend>
                        <div id="categs" typeAnnonce="" class="categories">
                            {% if type != "tout" %}
                                {% include 'home_page/categorie.html.twig' %}
                            {% endif %}
                        </div>
                        </fieldset>
                    </div>
                    <div class="blocFiltres {% if type != "materiel" %}hidden{% endif %}" id="dureeFiltre">
                        <h4 title="cherchez des emprunts avec une durée entre ces 2 valeurs (si non spécifié, ne borne pas la durée)">Durée</h4>
                        <div class="input-cc">
                            <div class="input-container">
                                <input type="text" name="duree_min" id="duree_min" pattern="^[0-9]+( (jour|heure)s?)?$" placeholder="" value="{{duree_min}}" class="minimum">
                                <label for="duree_min">Minimum</label>
                            </div>
                            <div class="input-container">
                                <input type="text" name="duree_max" id="duree_max" pattern="^[0-9]+( (jour|heure)s?)?$" value="{{duree_max}}" placeholder="">
                                <label for="duree_max">Maximum</label>
                            </div>
                        </div>
                    </div>
                    <div class="blocFiltres {% if type != "service" %}hidden{% endif %}" id="periodeServiceFiltre">
                        <h4 title="cherche des services avec des disponibilités entre ces 2 dates (si non spécifié, ne borne pas les dates)">Périodes Service</h4>
                        <div style="text-align: left;">
                            <div class="date-du">
                                <label>Du : <input type="datetime-local" value = "{{du}}" name="du"></label>
                            </div>
                            <div>
                                <label>Au : <input type="datetime-local" value = "{{au}}" name="au"></label>
                            </div>    
                        </div>
                        
                    </div>
                    <div class="blocFiltres">
                        <h4 title="cherchez des annonces avec un prix entre ces 2 valeurs (si non spécifié, ne borne pas le prix)">Prix</h4>
                        <div class="input-cc">
                            <div class="input-container">
                                <input type="text" name="prix_min" id="prix_min" pattern="^[0-9]*$" value="{{prix_min}}" placeholder="" class="minimum"><label for="prix_min">Minimum</label>
                            </div>
                            <div class="input-container">
                                <input type="text" name="prix_max" pattern="^[0-9]*$" id="prix_max" value="{{prix_max}}" placeholder=""><label for="prix_max">Maximum</label>
                            </div>
                        </div>
                    </div>
                    <div class="blocFiltres note">
                        <h4 title="cherchez des annonces avec un posteur ayant une note supérieure ou égal à celle saisie">Note Posteur</h4>
                        <div class="blocNote">
                            <div class="stars">
                                <input name="note" id="note" value="{{note}}" hidden> 
                                {% for i in range(0, 4) %}
                                    <span class="material-icons-outlined star" onclick="clickStar('{{i}}')">
                                        {% if i < note %}star{% else %}star_rate{% endif %}</span>
                                {% endfor %}
                                +
                            </div>
                            <div><span class="material-icons-outlined close" onclick="resetNoteFiltre()">close</span></div>
                        </div>
                        
                    </div>
                    <div class="blocFiltres">
                        <h4 title="cherchez des annonces libres (c-à-d sans transactions en cours)">Avec client(s) ?</h4>
                        <div style="display: flex; justify-content:space-around;">
                            <div>
                                <input type="radio" name="avecClient" value="tout" id="toutAvecClient" {% if avecClient == "tout" %}checked{% endif %}>
                                <label for="toutAvecClient">Tout</label>
                            </div>
                            <div>
                                <input type="radio" name="avecClient" id="ouiClient" value="oui" {% if avecClient == "oui" %}checked{% endif %}>
                                <label for="ouiClient">Oui</label>
                            </div>
                            <div>
                                <input type="radio" name="avecClient" id="nonClient" value="non" {% if avecClient == "non" %}checked{% endif %}>
                                <label for="nonClient">Non</label>
                            </div>
                        </div>
                    </div>
                    <div class="filterButtons">
                        <button class="filtreBouton" onclick="resetFilters()" type="button">Réinitialiser</button>
                    </div>
                </div> 
            </div>
            <button type="submit" style="background-color: inherit; border: none;"><span class="material-icons searchIcon">search</span></button>
        </div>
    </form>
</div>


<div class="tout">
    {% if annonces is empty %}
    <p class="noneFound">Pas d'annonces trouvées :( </p>
    {% endif %}
    {% for annonce in annonces %}
        {% if annonce.getPosteur().isSleepMode() == false and annonce.getStatut() == "Disponible" %}
            <span onclick="showAnnonce('{{ annonce.id }}')" class="lienAnnonce">
                <div class="blocAnnonce">
                    <div>
                        <span class="prix">{{ annonce.getPrix() }}<span class="material-icons">attach_money</span></span>
                        <div style="display: flex; align-items: center;"><div {% if annonce.posteur.isBusy() %}class="cercle rouge"{% else %}class="cercle vert"{% endif %}></div><span class="username">{{ annonce.getPosteur().getUsername() }}</span></div>
                    </div>
                    <div class="type">{{ annonce.getType() }}</div>
                    <div class="categorie">{{ annonce.getCategorie().getNom() }}</div>
                    {% if annonce.getType() == "Materiel" %}<div class="duree">Durée du prêt : {% if annonce.mode is null %}Non défini{% elseif annonce.mode == 'jours' %}{{ annonce.dureeH /24 }}{% else %}{{ annonce.dureeH }}{% endif %} {{ annonce.mode }}</div>{% endif %}
                    <h3>{{ annonce.getTitre() }}</h3>
                    <div class="description">
                        {% set parties = annonce.description|split('\n') %}
                            <span class="texte-message">
                            {% for partie in parties %}
                                {{ partie }}<br>
                            {% endfor %}
                    </div>
                    {# L'utilisateur est prenium #}
                    {% if app.user and app.user.abonnement == "2" and app.user.id != annonce.getPosteur().id and annonce.getStatut() == "Disponible" %}
                        {% if  annonce.getTransaction()  == null or annonce.getTransaction.client != app.user %}
                            {% if annonce.attentes is empty %}
                                <button class="emprunter" onclick="confirmerEmprunt(event, '{{ annonce.getId() }}', '{{ annonce.getType() }}')">Emprunter</button>
                            {% elseif annonce.transaction and annonce.contientUserDansFiles(app.user) == false %}
                                <button class="emprunter" onclick="confirmerEmprunt(event, '{{ annonce.getId() }}', '{{ annonce.getType() }}')">Ajouter dans la file d'attente</button>
                            {% endif %}
                        {% endif %}
                    {# L'utilisateur n'est pas prenium, ne peut pas emprunter les matériels #}
                    {% elseif app.user and app.user.abonnement == "1" and app.user.id != annonce.getPosteur().id and annonce.getStatut() == "Disponible" %}
                        {% if  annonce.getTransaction()  == null or annonce.getTransaction.client != app.user %}
                            {% if annonce.attentes is empty and annonce.getType() == "Service" %}
                                <button class="emprunter" onclick="confirmerEmprunt(event, '{{ annonce.getId() }}', '{{ annonce.getType() }}')">Emprunter</button>
                            {% elseif annonce.transaction and annonce.contientUserDansFiles(app.user) == false and annonce.getType() == "Service" %}
                                <button class="emprunter" onclick="confirmerEmprunt(event, '{{ annonce.getId() }}', '{{ annonce.getType() }}')">Ajouter dans la file d'attente</button>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </span>
        {% endif %}
    {% endfor %}
</div>
{% if annonces is not empty %}
    {# Barre de navigation de pagination #}
    <nav aria-label="Navigation de pagination">
        <ul class="pagination">
            {% set params = app.request.query.all %}
            {# Bouton "Précédent" #}
            {% if pageActuelle > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('app_home_page', params|merge({'page': pageActuelle - 1 })) }}" aria-label="Précédent">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Précédent</span>
                    </a>
                </li>
            {% endif %}

            {# Lien vers les pages #}
            {% for i in 1..nombrePages %}
                <li class="page-item {{ i == pageActuelle ? 'active' : '' }}">
                    <a class="page-link" href="{{ path('app_home_page', params|merge({'page': i })) }}">{{ i }}</a>
                </li>
            {% endfor %}

            {# Bouton "Suivant" #}
            {% if pageActuelle < nombrePages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('app_home_page', params|merge({'page': pageActuelle + 1 })) }}" aria-label="Suivant">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

{% endblock %}
