{% extends 'profile.html.twig' %}

{% block title %}Avis reçus{% endblock %}

{% block ss2 %}
<link rel="stylesheet" href="{{ asset('styles/planning.css') }}">
{% endblock %}

{% block contenu %}

    <h1>Avis reçus</h1>
    
    <h2>Avis en tant qu'offrant</h2>
    offrantTransactions
    {% if offrantTransactions is not empty %}
        <ul>
            {% for transaction in offrantTransactions %}
                {% if transaction.getNoteOffrant() is not null %}
                    <li>
                        <strong>Note:</strong> {{ transaction.getNoteOffrant() }}<br>
                        <strong>Commentaire:</strong> {{ transaction.getCommentaireOffrant() }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun avis reçu en tant qu'offrant.</p>
    {% endif %}
    
    <h2>Avis en tant que client</h2>
    {% if clientTransactions is not empty %}
        <ul>
            {% for transaction in clientTransactions %}
                {% if transaction.getNoteClient() is not null %}
                    <li>
                        <strong>Note:</strong> {{ transaction.getNoteClient() }}<br>
                        <strong>Commentaire:</strong> {{ transaction.getCommentaireClient() }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun avis reçu en tant que client.</p>
    {% endif %}

{% endblock %}
