{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/inscription.css') }}">
<script src="{{ asset('scripts/inscription.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <div style="display: flex;">
            <div style="margin:auto 0">
                <div class="input-container">
                   {{ form_widget(registrationForm.username) }} 
                   {{ form_label(registrationForm.username) }}
                   {{ form_errors(registrationForm.username) }} 
                </div>
                <div class="input-container">
                    {{ form_widget(registrationForm.email) }}
                    {{ form_label(registrationForm.email) }}
                    {{ form_errors(registrationForm.email) }}
                 </div>
                 <div class="input-container">
                    {{ form_widget(registrationForm.password) }}
                    {{ form_label(registrationForm.password) }}
                    {{ form_errors(registrationForm.password) }}
                    <div class="help">
                        {{ form_help(registrationForm.password) }}
                    </div>
                 </div>
                 <div class="input-container">
                    {{ form_widget(registrationForm.first_name) }}
                    {{ form_label(registrationForm.first_name) }}
                    {{ form_errors(registrationForm.first_name) }}
                 </div>
                 <div class="input-container">
                    {{ form_widget(registrationForm.surname) }}
                    {{ form_label(registrationForm.surname) }}
                    {{ form_errors(registrationForm.surname) }}
                 </div>
            </div>
            <div style="margin-left: 70px;">
                {{ form_row(registrationForm.abonnement, {label: "* Formules d'abonnemement :", attr: {'class': 'plans'} }) }}
            </div>
        </div>
        <p>(*Champs obligatoires)</p>
        <div style="text-align: center;"><button type="submit" class="but">Payer et s'inscrire</button></div>
    {{ form_end(registrationForm) }}
{% endblock %}
