{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
<link rel="stylesheet" href="{{ asset('styles/annonce.css') }}">
{% endblock %}

{% block body %}
<h2>Nouvelle Annonce</h2>
<form action="{{ path('handle_form_service') }}" method="post">
    <label for="titre">Titre de l'annonce :</label>
    <input type="text" name="titre" required /><br />
    
    <br />
    <label for="date_pret">Date et heure du service :</label>
    <input type="datetime-local" name="date_pret" min="{{ "now"|date("Y-m-d") }}T00:00" title="Date et heure du prêt optionnel, doit être supérieur à maintenant" required /><br />
    <br />
    
    <label for="service">Service : </label>
    <select name="service" required>
        <option value="">Sélectionnez un tag pour votre Service</option>
        {% for serv in categories %}
            <option value="{{ serv.getId() }}">{{ serv.getNomService() }}</option>
        {% endfor %}
    </select><br />

    <label for="recurrence">Récurrence :</label>
    <select name="recurrence" id="recurrence">
        <option value="">Sélectionnez une récurrence</option>
        <option value="hebdomadaire">Hebdomadaire</option>
        <option value="quotidienne">Quotidienne</option>
        <option value="mensuelle">Mensuelle</option>
    </select><br>
    
    <div id="jours" style="display:none;">
        <label for="jour_fin">Jour de fin (compris):</label>
        <input type="date" name="jour_fin" id="jour_fin" min="{{ "now"|date("Y-m-d") }}T00:00" required><br>
    </div>
    
    <div id="mois" style="display:none;">
        <label for="mois_fin">Mois de fin (compris) :</label>
        <input type="month" name="mois_fin" id="mois_fin" min="{{ "now"|date("Y-m") }}T00:00" required><br>
    </div>

    <div id="semaine" style="display:none;">
        <label for="semaine_fin">Semaine de fin (comprise) :</label>
        <input type="week" name="semaine_fin" id="semaine_fin" min="{{ "now"|date("Y") }}-W{{ "now"|date("W") }}" required><br>
    </div>
    
    <br />
    <label for="prix">Prix :</label>
    <input type="text" class="input_small" name="prix" pattern="[0-9]*" title="Entrez un prix valide (par exemple, 10)" required /><br />

    <br />
    <label for="description">Description</label><br />
    <textarea name="description" ></textarea><br />

    <button>Valider</button>
    <button>Annuler</button>
</form>

<script>
    document.getElementById('recurrence').addEventListener('change', function() {
        var recurrence = this.value;
        if (recurrence === 'quotidienne') {
            document.getElementById('jours').style.display = 'block';
            document.getElementById('mois').style.display = 'none';
            document.getElementById('semaine').style.display = 'none';
        } else if (recurrence === 'mensuelle') {
            document.getElementById('jours').style.display = 'none';
            document.getElementById('mois').style.display = 'block';
            document.getElementById('semaine').style.display = 'none';
        } else if (recurrence === 'hebdomadaire') {
            document.getElementById('jours').style.display = 'none';
            document.getElementById('mois').style.display = 'none';
            document.getElementById('semaine').style.display = 'block';
        }
    });
</script>

{% endblock %}