{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
<link rel="stylesheet" href="{{ asset('styles/annonce.css') }}">

{% endblock %}

{% block body %}
<h2>Nouvelle Annonce</h2>
<form class = "form_serv" action="{{ path('handle_form_service') }}" method="post">
    <label for="titre">Titre de l'annonce *</label>
    <input type="text" name="titre" required maxlength="100"/><br />
    
    <br />
    <div class="special-div">
    <label for="date_pret">Date et heure du service * </label>
    <input type="datetime-local" name="date_pret" min="{{ "now"|date("Y-m-d") }}T00:00" title="Date et heure du prêt optionnel, doit être supérieur à maintenant" required />


    <br />
    <br />
    <label for="recurrence">Récurrence </label>
    <select name="recurrence" id="recurrence">
        <option value="">Aucune récurrence</option>
        <option value="hebdomadaire">Hebdomadaire</option>
        <option value="quotidienne">Quotidienne</option>
        <option value="mensuelle">Mensuelle</option>
    </select>
    <br />
    
    <div id="periode">
    <div id="jours" style="display:none;">
        <label for="jour_fin">Jour de fin (compris) *</label>
        <input type="date" name="additional_ends[]" class="additional-end" min="{{ "now"|date("Y-m-d") }}"><br>
    </div>

    <div id="mois" style="display:none;">
        <label for="mois_fin">Mois de fin (compris) *</label>
        <input type="month" name="additional_ends[]" class="additional-end" min="{{ "now"|date("Y-m") }}" ><br>
    </div>

    <div id="semaine" style="display:none;">
        <label for="semaine_fin">Semaine de fin (comprise) *</label>
        <input type="week" name="additional_ends[]" class="additional-end" min="{{ "now"|date("Y") }}-W{{ "now"|date("W") }}" ><br>
    </div>
    </div>
</div>

    <button type="button" id="addDateButton">Ajouter une autre date</button><br />

    <div id="additionalDates" class="container"></div>

    <br />
    <label for="service">Service *</label>
    <select name="service" required>
        <option value="">Sélectionnez un tag pour votre Service</option>
        {% for serv in categories %}
            <option value="{{ serv.getNom() }}">{{ serv.getNom() }}</option>
        {% endfor %}
    </select><br />

    
    <br />
    <label for="prix">Prix *</label>
    <input type="text" class="input_small" name="prix" pattern="[0-9]*" maxlength="9" title="Entrez un prix valide (par exemple, 10)" required /><br />

    <br />
    <label for="description">Description</label><br />
    <textarea name="description" maxlength="255"></textarea><br />
    </br>
    <label>* Champs obligatoires</label>
    </br>
    <button>Valider</button>
    <a href="{{ path('app_home_page') }}"><button type="button">Annuler</button></a>
</form>
<script src="{{ asset('scripts/service.js') }}"></script>
{% endblock %}