{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
<link rel="stylesheet" href="{{ asset('styles/annonce.css') }}">
{% endblock %}

{% block body %}
<h2>Nouvelle Annonce</h2>
<form action="{{ path('handle_form_service') }}" method="post">
    <label for="titre">Titre de l'annonce :</label>
    <input type="text" name="titre" required /><br />
    
    <br />
    <label for="date_pret">Date et heure du service :</label>
    <input type="datetime-local" name="date_pret" min="{{ "now"|date("Y-m-d") }}T00:00" title="Date et heure du prêt optionnel, doit être supérieur à maintenant" required />


    <br />
    <label for="recurrence">Récurrence :</label>
    <select name="recurrence" id="recurrence">
        <option value="">Sélectionnez une récurrence</option>
        <option value="hebdomadaire">Hebdomadaire</option>
        <option value="quotidienne">Quotidienne</option>
        <option value="mensuelle">Mensuelle</option>
    </select>

    <button type="button" id="addDateButton">Ajouter une autre date</button><br />
    <br />
    
    <div id="periode">
    <div id="jours" style="display:none;">
        <label for="jour_fin">Jour de fin (compris):</label>
        <input type="date" name="additional_ends[]" class="additional-end" min="{{ "now"|date("Y-m-d") }}"><br>
    </div>

    <div id="mois" style="display:none;">
        <label for="mois_fin">Mois de fin (compris) :</label>
        <input type="month" name="additional_ends[]" class="additional-end" min="{{ "now"|date("Y-m") }}" ><br>
    </div>

    <div id="semaine" style="display:none;">
        <label for="semaine_fin">Semaine de fin (comprise) :</label>
        <input type="week" name="additional_ends[]" class="additional-end" min="{{ "now"|date("Y") }}-W{{ "now"|date("W") }}" ><br>
    </div>
    <br />
</div>



    <div id="additionalDates"></div>

    <br />
    <label for="service">Service : </label>
    <select name="service" required>
        <option value="">Sélectionnez un tag pour votre Service</option>
        {% for serv in categories %}
            <option value="{{ serv.getNom() }}">{{ serv.getNom() }}</option>
        {% endfor %}
    </select><br />

    
    <br />
    <label for="prix">Prix :</label>
    <input type="text" class="input_small" name="prix" pattern="[0-9]*" title="Entrez un prix valide (par exemple, 10)" required /><br />

    <br />
    <label for="description">Description</label><br />
    <textarea name="description" ></textarea><br />

    <button>Valider</button>
    <a href="{{ path('app_home_page') }}"><button type="button">Annuler</button></a>
</form>

<script>
    function setRequired(containerId, required) {
    var container = document.getElementById(containerId);
    container.querySelectorAll('input').forEach(input => {
        input.required = required;
    });
    }

    function clearFields(containerId) {
    var container = document.getElementById(containerId);
    container.querySelectorAll('input').forEach(input => {
        input.value = '';
    });
    }

    document.getElementById('recurrence').addEventListener('change', function() {
    var recurrence = this.value;
    if (recurrence === 'quotidienne') {
        document.getElementById('jours').style.display = 'block';
        setRequired('jours', true);
        document.getElementById('mois').style.display = 'none';
        clearFields('mois');
        setRequired('mois', false);
        document.getElementById('semaine').style.display = 'none';
        clearFields('semaine');
        setRequired('semaine', false);
    } else if (recurrence === 'mensuelle') {
        document.getElementById('jours').style.display = 'none';
        clearFields('jours');
        setRequired('jours', false);
        document.getElementById('mois').style.display = 'block';
        setRequired('mois', true);
        document.getElementById('semaine').style.display = 'none';
        clearFields('semaine');
        setRequired('semaine', false);
    } else if (recurrence === 'hebdomadaire') {
        document.getElementById('jours').style.display = 'none';
        clearFields('jours');
        setRequired('jours', false);
        document.getElementById('mois').style.display = 'none';
        clearFields('mois');
        setRequired('mois', false);
        document.getElementById('semaine').style.display = 'block';
        setRequired('semaine', true);
    } else {
        document.getElementById('jours').style.display = 'none';
        clearFields('jours');
        setRequired('jours', false);
        document.getElementById('mois').style.display = 'none';
        clearFields('mois');
        setRequired('mois', false);
        document.getElementById('semaine').style.display = 'none';
        clearFields('semaine');
        setRequired('semaine', false);
    }
    });

    document.getElementById('addDateButton').addEventListener('click', function() {
        var additionalDates = document.getElementsByName('additional_date[]');

        // Parcourir tous les champs de dates
        for (var i = 0; i < additionalDates.length; i++) {
            // Afficher la valeur de chaque champ dans la console
            console.log("Date optionnelle " + (i + 1) + ": " + additionalDates[i].value);
        }

        var additionalDatesDiv = document.getElementById('additionalDates');
        var newInput = document.createElement('input');
        newInput.type = 'datetime-local';
        newInput.name = 'additional_date[]';
        newInput.min = '{{ "now"|date("Y-m-d") }}T00:00';
        newInput.title = 'Date et heure du prêt optionnel, doit être supérieur à maintenant';
        newInput.required = true;
        additionalDatesDiv.append('Date optionnel : ');
        additionalDatesDiv.appendChild(newInput);
        additionalDatesDiv.appendChild(document.createElement('br'));

        ajoutReccurence();
    });
    function ajoutReccurence() {
        var additionalRecurrencesDiv = document.getElementById('additionalDates');
        var newSelect = document.createElement('select');
        var newPeriode = document.createElement('div');

        newSelect.name = 'additional_recurrence[]';
        newPeriode.name = 'additional_periode[]';

        newSelect.innerHTML = document.getElementById('recurrence').innerHTML;
        newPeriode.innerHTML = document.getElementById('periode').innerHTML;
        newPeriode.innerHTML = '';
        additionalRecurrencesDiv.appendChild(newSelect);
        additionalRecurrencesDiv.append(newSelect.value);
        additionalRecurrencesDiv.appendChild(newPeriode);
        additionalRecurrencesDiv.appendChild(document.createElement('br'));
        newSelect.addEventListener('change', function() {
            if (newSelect.value === 'quotidienne') {
                newPeriode.innerHTML = document.getElementById('jours').innerHTML;
            } else if (newSelect.value === 'hebdomadaire') {
                newPeriode.innerHTML = document.getElementById('semaine').innerHTML;
            } else if (newSelect.value === 'mensuelle') {
                newPeriode.innerHTML = document.getElementById('mois').innerHTML;
            } else {
                newPeriode.innerHTML = "";
            }
        });
    }
</script>

{% endblock %}