{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/notification.css') }}">
    <script src="{{ asset('scripts/notification.js') }}"></script>
{% endblock %}

{% block title %}Notifications{% endblock %}
{# templates/base.html.twig #}

{% block body %}
<h2>Notifications</h2>

<div class="tab-container">
    <div class="tab-buttons">
        <button class="tab-button" onclick="openTab(event, 'tab1')">Notifications non lues</button>
        <button class="tab-button" onclick="openTab(event, 'tab2')">Notifications lus</button>
    </div>

    <div id="tab1" class="tab active">
        {% for notification in notifications %}
            {% if not notification.aEteLu %}
                <div class="notif">
                    <div class="notif-date">
                        <b>{{ notification.dateEnvoi|date('Y-m-d H:i') }}</b>
                    </div>
                    <div class="notif-content">
                        {{ notification.contenu }}
                    </div>
                    <div class="notif-buttons">
                        <button onclick="location.href='{{ path('marquer_comme_lu_route', {'id': notification.id}) }}'"><span class="material-icons">visibility_off</span></button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="tab2" class="tab">
        {% for notification in notifications %}
            {% if notification.aEteLu %}
                <div class="notif">
                    <div class="notif-date">
                        <b>{{ notification.dateEnvoi|date('Y-m-d H:i') }}</b>
                    </div>
                    <div class="notif-content">
                        {{ notification.contenu }}
                    </div>
                    <div class="notif-buttons">
                        <button onclick="location.href='{{ path('marquer_comme_non_lu_route', {'id': notification.id}) }}'"><span class="material-icons">visibility</span></button>
                        <button class="delete" onclick="location.href='{{ path('marquer_comme_lu_route', {'id': notification.id}) }}'"><span class="material-icons">delete</span></button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</div>

{% endblock %}
