{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/profil.css') }}">
<script src="{{ asset('scripts/profil.js') }}"></script>
<link rel="stylesheet" href="{{ asset('styles/avis.css') }}">
{% block ss2 %}{% endblock %}
{% endblock %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="intro">
    <div>
        Vous êtes sur le profil de <span class="bold">{{ user.username }}</span> !
    </div>
</div>

<div class="tab-container">
    <div class="tab-buttons">
        <a class="tab-button active" href="{{ path('app_profile_public', {'id': user.id}) }}">Avis</a>
        <a class="tab-button" href="{{ path('app_profile_public_annonces', {'id': user.id}) }}">Ses Annonces</a>
        <a class="tab-button" href="{{ path('app_profile_public_planning', {'id': user.id}) }}">Son Planning</a>
    </div>

    {% block contenu %}
    <h1>Avis reçus</h1>
    {% if note_globale is not null %}
        <h2 style="text-align: center;"> Note globale : {{note_globale}} / 5 </h2>
    {% else %}
        <h2 style="text-align: center;"> Aucune notes </h2>
    {% endif %}

    <div class="avis-container">
        <div class="avis-section">
            <h2>Avis en tant qu'offrant</h2>
            {% if offrantTransactions is not empty %}
                <ul class="avis-list">
                    {% for transaction in offrantTransactions %}
                        {% if transaction.getNoteClient() is not null %}
                            <li class="avis-item">
                                <strong>Note:</strong>
                                <div class="stars">
                                    {% for i in 1..5 %}
                                        {% if i <= transaction.getNoteClient() %}
                                            <span class="material-icons star">star</span>
                                        {% else %}
                                            <span class="material-icons star star-empty">star_border</span>
                                        {% endif %}
                                    {% endfor %}
                                </div><br><br>
                                <strong>Commentaire:</strong> {{ transaction.getCommentaireClient() }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="avis-section">
            <h2>Avis en tant que client</h2>
            {% if clientTransactions is not empty %}
                <ul class="avis-list">
                    {% for transaction in clientTransactions %}
                        {% if transaction.getNoteOffrant() is not null %}
                            <li class="avis-item">
                                <strong>Note:</strong>
                                <div class="stars">
                                    {% for i in 1..5 %}
                                        {% if i <= transaction.getNoteOffrant() %}
                                            <span class="material-icons star">star</span>
                                        {% else %}
                                            <span class="material-icons star star-empty">star_border</span>
                                        {% endif %}
                                    {% endfor %}
                                </div><br><br>
                                <strong>Commentaire:</strong> {{ transaction.getCommentaireOffrant() }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    
    {% endblock %}
</div>

</body>
</html>

{% endblock %}