{% extends 'profile.html.twig' %}

{% block title %}Mes Transactions{% endblock %}
{% block ss2 %}
<link rel="stylesheet" href="{{ asset('styles/annonces.css') }}">
{% endblock %}
{% block contenu %}

<h3>Mes transactions</h3>
<div class="tout">
    <h4>Client</h4>
    {# Transactions ou l'utilisateur est un client #}
    {% for transaction in transactionsClient %}
        <div class="blocAnnonce">
            <div>
                <span class="prix" >{{ transaction.getAnnonce().getPrix() }}<span class="material-icons">attach_money</span></span>
                <span class="username">{{ transaction.getAnnonce().getPosteur().getUsername() }}</span>
            </div>
            <div class="type">{{ transaction.getAnnonce().getType() }}</div>
            <div class="categorie">{{ transaction.getAnnonce().getCategorie().getNom() }}</div>
            {% if transaction.getAnnonce().getType() == "Materiel" %}<div class="duree">Durée du prêt : {{ transaction.getAnnonce().getDuree() }}</div>{% endif %}
            <h3>{{ transaction.getAnnonce().getTitre() }}</h3>
            <div class="description">{{ transaction.getAnnonce().getDescription() }}</div>
            <button class="supprimer" onclick="supprimerTransaction(event,'{{ transaction.getId() }}')">Se désister</button>
        </div>
    {% endfor %}
    <h4>Posteur:</h4>
    {# Transactions ou l'utilisateur est un posteur #}
    {% for transaction in transactionsPosteur %}
        <div class="blocAnnonce">
            <div>
                <span class="prix" >{{ transaction.getAnnonce().getPrix() }}<span class="material-icons">attach_money</span></span>
                <span class="username">Client : {{ transaction.getClient().getUsername() }}</span>
            </div>
            <div class="type">{{ transaction.getAnnonce().getType() }}</div>
            <div class="categorie">{{ transaction.getAnnonce().getCategorie().getNom() }}</div>
            {% if transaction.getAnnonce().getType() == "Materiel" %}<div class="duree">Durée du prêt : {{ transaction.getAnnonce().getDuree() }}</div>{% endif %}
            <h3>{{ transaction.getAnnonce().getTitre() }}</h3>
            <div class="description">{{ transaction.getAnnonce().getDescription() }}</div>
            <button class="modifier">Valider à faire</button>
            <button class="supprimer" onclick="annulerTransactionAvecClient(event,'{{ transaction.getId() }}')">Annuler la transaction</button>
        </div>
    {% endfor %}
    <h4>En Attente:</h4>
    {# Annonces ou l'utilisateur est en attente #}
    {% for annonce in annoncesEnAttente %}
        <div class="blocAnnonce">
            <div>
                <span class="prix" >{{ annonce.getPrix() }}<span class="material-icons">attach_money</span></span>
                <span class="username">{{ annonce.getPosteur().getUsername() }}</span>
            </div>
            <div class="type">{{ annonce.getType() }}</div>
            <div class="categorie">{{ annonce.getCategorie().getNom() }}</div>
            {% if annonce.getType() == "Materiel" %}<div class="duree">Durée du prêt : {{ annonce.getDuree() }}</div>{% endif %}
            <h3>{{ annonce.getTitre() }}</h3>
            <div class="description">{{ annonce.getDescription() }}</div>
            <div class="fileAttente">Position : {{ annonce.positionFileAttente(annonce,app.user) }}</div>
            <button class="supprimer" onclick="seDesister(event,'{{ annonce.getId() }}')">Quitter la file</button>
        </div>
    {% endfor %}
</div>

{% endblock %}
