{% extends 'profile.html.twig' %}

{% block title %}Mes Transactions{% endblock %}
{% block ss2 %}
<link rel="stylesheet" href="{{ asset('styles/annonces.css') }}">
<link rel="stylesheet" href="{{ asset('styles/transaction.css') }}">
{% endblock %}
{% block contenu %}

<h3>Mes transactions</h3>
<div>
    <b>Votre statut dans la transaction :</b>
    <select id="typeTransactionSelect">
        <option value="client">Client</option>
        <option value="posteur">Posteur</option>
        <option value="enAttente">En Attente</option>
        <option value="terminer">Terminé</option>
    </select>
</div>
<div class="tout">
    <div id="transactionsClient" class="typeSection">
        {# Transactions ou l'utilisateur est un client #}
        {% for transaction in transactionsClient %}
            <div class="blocAnnonce">
                <div>
                    <span class="prix" >{{ transaction.annonce.prix }}<span class="material-icons">attach_money</span></span>
                    <span class="username">Prestataire : {{ transaction.annonce.posteur.getUsername() }}</span>
                </div>
                <div class="type">{{ transaction.getAnnonce().getType() }}</div>
                <div class="categorie">{{ transaction.getAnnonce().getCategorie().getNom() }}</div>
                {% if transaction.getAnnonce().getType() == "Materiel" %}<div class="duree">Durée du prêt : {{ transaction.getAnnonce().getDuree() }}</div>{% endif %}
                <h3>{{ transaction.getAnnonce().getTitre() }}</h3>
                <div class="description">{{ transaction.getAnnonce().getDescription() }}</div>
                <button class="supprimer" onclick="supprimerTransaction(event,'{{ transaction.getId() }}')">Se désister</button>
            </div>
        {% endfor %}
    </div>
    <div id="transactionsPosteur" class="typeSection"  style="display: none;">
        {# Transactions ou l'utilisateur est un posteur #}
        {% for transaction in transactionsPosteur %}
            <div class="blocAnnonce">
                <div>
                    <span class="prix" >{{ transaction.getAnnonce().getPrix() }}<span class="material-icons">attach_money</span></span>
                    <span class="username">Client : {{ transaction.getClient().getUsername() }}</span>
                </div>
                <div class="type">{{ transaction.getAnnonce().getType() }}</div>
                <div class="categorie">{{ transaction.getAnnonce().getCategorie().getNom() }}</div>
                {% if transaction.getAnnonce().getType() == "Materiel" %}<div class="duree">Durée du prêt : {{ transaction.getAnnonce().getDuree() }}</div>{% endif %}
                <h3>{{ transaction.getAnnonce().getTitre() }}</h3>
                <div class="description">{{ transaction.getAnnonce().getDescription() }}</div>
                <button class="supprimer" onclick="annulerTransactionAvecClient(event,'{{ transaction.getId() }}')">Annuler la transaction </button>
            </div>
        {% endfor %}
    </div>
    <div id="transactionsEnAttente" class="typeSection" style="display: none;">
        {# Annonces ou l'utilisateur est en attente #}
        {% for annonce in annoncesEnAttente %}
            <div class="blocAnnonce">
                <div>
                    <span class="prix" >{{ annonce.getPrix() }}<span class="material-icons">attach_money</span></span>
                    <span class="username">Prestataire : {{ annonce.getPosteur().getUsername() }}</span>
                </div>
                <div class="type">{{ annonce.getType() }}</div>
                <div class="categorie">{{ annonce.getCategorie().getNom() }}</div>
                {% if annonce.getType() == "Materiel" %}<div class="duree">Durée du prêt : {{ annonce.getDuree() }}</div>{% endif %}
                <h3>{{ annonce.getTitre() }}</h3>
                <div class="description">{{ annonce.getDescription() }}</div>
                <div class="fileAttente">Position : {{ annonce.positionFileAttente(annonce,app.user) }}</div>
                <button class="supprimer" onclick="seDesister(event,'{{ annonce.getId() }}')">Quitter la file</button>
            </div>
        {% endfor %}
    </div>
    <div id="transactionsTermines" class="typeSection" style="display: none;">
        {# Annonces ou l'utilisateur est en attente #}
        {% for transaction in transactionsTermines %}
            <a href="{{ path('app_vue_transaction', {'id': transaction.id}) }}" class="lienAnnonce">
            <div class="blocAnnonce">
                <div>
                    <span class="prix" >{{ transaction.prixFinal }}<span class="material-icons">attach_money</span></span>
                    <span class="username">Prestataire : {{ transaction.annonce.posteur.getUsername() }}</span>
                    <span class="username">Client : {{ transaction.getClient().getUsername() }}</span>
                </div>
                <div class="type">{{ transaction.getAnnonce().getType() }}</div>
                <div class="categorie">{{ transaction.getAnnonce().getCategorie().getNom() }}</div>
                {% if transaction.getAnnonce().getType() == "Materiel" %}<div class="duree">Durée du prêt (final) : {{ transaction.getDureeFinal() }}</div>
                {% endif %}
                <h3>{{ transaction.getAnnonce().getTitre() }}</h3>
                <div class="description">{{ transaction.getAnnonce().getDescription() }}</div>
                <b>Note</b>
                    {# <div class="stars">

                        {% if app.user.username == transaction.annonce.posteur.username %}
                            {% set note = transaction.getNoteClient() is null ? 0 : transaction.getNoteClient() %}           
                        {% else %}
                            {% set note = transaction.getNoteOffrant() is null ? 0 : transaction.getNoteOffrant() %}
                                
                        {% endif %}
                        {% if note == 0 %}
                            {% for i in range(5-note,1) %}
                                <span class="star">&#9734;</span>
                            {% endfor %}
                        {% else %}
                            {% for i in range(0,note-1) %}
                                <span class="star">&#9733;</span>
                            {% endfor %}
                            {% if note < 5 %}
                                {% for i in range(5-note,1) %}
                                        <span class="star">&#9734;</span>
                                {% endfor %}
                            {% endif %}   
                        {% endif %}

                    </div> #}
            </div>
        {% endfor %}
    </div>
</div>

<script>
    document.getElementById('typeTransactionSelect').addEventListener('change', function() {
        var valeur = this.value;
        document.querySelectorAll('.typeSection').forEach(function(section) {
            section.style.display = 'none'; // Masquer toutes les sections
        });
        if (valeur === 'client') {
            document.getElementById('transactionsClient').style.display = 'contents';
        } else if (valeur === 'posteur') {
            document.getElementById('transactionsPosteur').style.display = 'contents';
        } else if (valeur === 'enAttente') {
            document.getElementById('transactionsEnAttente').style.display = 'contents';
        } else if (valeur === 'terminer') {
            document.getElementById('transactionsTermines').style.display = 'contents';
        }
    });

    // Pour s'assurer que par défaut, "Client" est affiché
    document.getElementById('transactionsClient').style.display = 'contents';
</script>

{% endblock %}
