{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/annonces.css') }}">
<link rel="stylesheet" href="{{ asset('styles/statut.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/vueAnnonces.css') }}">
{% endblock %}
{% block title %}Annonce - {{annonce.titre}}{% endblock %}

{% block body %}

<div>
    <h2>{{annonce.titre}}</h2>
<div style="display: flex; align-items: center;">Posté par&nbsp;<span class="username">{{ annonce.posteur.username }}</span>&nbsp;<div {% if annonce.posteur.isBusy() %}class="cercle rouge"{% else %}class="cercle vert"{% endif %}></div>
</div>
<br>
<span class="bold">Prix</span> : {{ annonce.prix }}<span class="material-icons">attach_money</span>
<br>
<div class="type">{{ annonce.getType() }}</div>
<div class="categorie">{{ annonce.getCategorie().getNom() }}

</div><br><br>
{% if annonce.getType() == "Materiel" %}<div class="duree"><span class="bold">Durée du prêt</span> : {{ annonce.getDuree() }}</div>
{% else %}
<span class="bold">Horaires</span> :
{% if not (annonce.datePoncts is empty) %}Le(s){% endif %}
{% for x in annonce.datePoncts %}
    {{x.date|date('d M Y')}},
{% endfor %}
<br>
{% for x in annonce.recurrence %}
    {% if x.typeRecurrence == 'quotidienne' %}
        Tous les jours 
    {% elseif x.typeRecurrence == 'hebdomadaire' %}
        Toutes les semaines 
    {% elseif x.typeRecurrence == 'mensuelle' %}
        Tous les mois 
    {% endif %}
    du {{x.dateDebut|date('d M Y')}} au {{x.dateFin|date('d M Y')}},<br>
{% endfor %}
{% endif %}
<br>
<span class="bold">Description</span> :
<p class="desc">{{ annonce.description }}</p><br>
</div>

{% if annonce.transaction %}
<span class="bold">Client actuel</span> : {{annonce.transaction.client.username }}<br><br>
    <table>
        <thead>
            <tr>
                <th colspan="2">Clients en attente</th>
            </tr>
        </thead>
        <tbody>
            {% for b in listeClients %}
            <tr>
                <td>{{ b.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    Pas de clients.
{% endif %}


{% endblock %}
