{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
<script src="{{ asset('scripts/admin.js') }}"></script>
{% endblock %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: space-between;">
        <div class="a">
            <h3>Réclamations non traitées</h3>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Objet</th>
                    <th>Postée par</th> 
                    <th>Titre</th>
                </tr>
                {% for reclamation in reclamationsNonTraitees %}
                    <tr onclick="showRec('{{reclamation.id}}')" id="rec-{{reclamation.id}}">
                        <td>{{ reclamation.datePoste|date('Y-m-d') }}</td>
                        <td>{{ reclamation.objet }}</td>
                        <td>{{ reclamation.user.username }}</td>
                        <td>{{ reclamation.titre }}</td>
                    </tr>
                {% endfor %}
            </table><br>
            <h3>Réclamations traitées</h3>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Objet</th>
                    <th>Postée par</th> 
                    <th>Traitée par</th>
                    <th>Titre</th>
                </tr>
                {% for reclamation in reclamationsTraitees %}
                    <tr onclick="showRec('{{reclamation.id}}')" id="rec-{{reclamation.id}}">
                        <td>{{ reclamation.datePoste|date('Y-m-d') }}</td>
                        <td>{{ reclamation.objet }}</td>
                        <td>{{ reclamation.user.username }}</td>
                        <td>{{ reclamation.administrateur.username }}</td>
                        <td>{{ reclamation.titre }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="recWindow" class="recWindow a">
            
        </div>
    </div>
{% endblock %}
