{% extends 'profile.html.twig' %}

{% block title %}Mes Annonces{% endblock %}

{% block ss2 %}
<link rel="stylesheet" href="{{ asset('styles/annonces.css') }}">
<link rel="stylesheet" href="{{ asset('styles/annonce.css') }}">
{% endblock %}

{% block contenu %}

<h3>Mes Annonces</h3>
<div class="tout">
    {% for annonce in annonces %}
        <div class="blocAnnonce">
            <div>
                <span class="prix" >{{ annonce.getPrix() }}<span class="material-icons">attach_money</span></span>
                <span class="username">{{ annonce.getPosteur().getUsername() }}</span>
            </div>
            <div class="type">{{ annonce.getType() }}</div>
            <div class="categorie">{{ annonce.getCategorie().getNom() }}</div>
            {% if annonce.getType() == "Materiel" %}<div class="duree">Durée du prêt : {{ annonce.getDuree() }}</div>{% endif %}
            <h3>{{ annonce.getTitre() }}</h3>
            <div class="description">{{ annonce.getDescription() }}</div>
            {% if annonce.getType() == "Materiel" %}
                <button class="modifier" onclick="openAnnonceDialog('{{ annonce.getPrix() }}', '{{ annonce.getTitre()|escape('js') }}', '{{ annonce.getDescription()|escape('js') }}', '{{ annonce.getId() }}', '{{ annonce.getType() }}', '{{ annonce.getCategorie().getNom() }}','{{ annonce.getDuree() }}',null,null,null,null)">Modifier</button>
            {% endif %}
            {% if annonce.getType() == "Service" %}
                {%if annonce.getDatePoncts().get(0) != null%}
                    {% set datePoncts = [] %}
                    {%for dateP in annonce.getDatePoncts()%}
                        {% set datePoncts = datePoncts|merge([dateP.date|date('Y-m-d H:i')]) %}
                    {%endfor%}
                    {% set datePonctsString = datePoncts|json_encode|escape('js') %}
                    {% if annonce.getRecurrence().get(0)!=null  %}
                        {% set dateReccu_Debut = [] %}
                        {% set dateReccu_Fin   = [] %}
                        {% set dateReccu_Type  = [] %}
                        {%for dateR in annonce.getRecurrence()%}
                            {% if dateR.typeRecurrence == 'quotidienne' %}
                                {% set formatFin = 'Y-m-d' %}
                            {% elseif dateR.typeRecurrence == 'hebdomadaire' %}
                                {% set formatFin = 'Y-!W'%}
                            {% elseif dateR.typeRecurrence == 'mensuelle' %}
                                {% set formatFin = 'Y-m' %}
                            {% endif %}
                            {% set dateReccu_Debut = dateReccu_Debut|merge([dateR.getDateDebut()|date('Y-m-d H:i')]) %}
                            {% set dateReccu_Fin   = dateReccu_Fin|merge([dateR.getDateFin()|date(formatFin)]) %}
                            {% set dateReccu_Type  = dateReccu_Type|merge([dateR.typeRecurrence]) %}
                        {%endfor%}
                        {% set dateReccu_Debut_String = dateReccu_Debut|json_encode|escape('js') %}
                        {% set dateReccu_Fin_String  =  dateReccu_Fin|json_encode|escape('js') %}
                        {% set dateReccu_Type_String = dateReccu_Type|json_encode|escape('js') %}
                        <button class="modifier" onclick="openAnnonceDialog('{{ annonce.getPrix() }}', '{{ annonce.getTitre()|escape('js') }}', '{{ annonce.getDescription()|escape('js') }}', '{{ annonce.getId() }}', '{{ annonce.getType() }}', '{{ annonce.getCategorie().getNom() }}',null,'{{ datePonctsString }}','{{ dateReccu_Debut_String }}','{{ dateReccu_Fin_String }}','{{ dateReccu_Type_String }}')">Modifier</button>
                    {% else %}
                        <button class="modifier" onclick="openAnnonceDialog('{{ annonce.getPrix() }}', '{{ annonce.getTitre()|escape('js') }}', '{{ annonce.getDescription()|escape('js') }}', '{{ annonce.getId() }}', '{{ annonce.getType() }}', '{{ annonce.getCategorie().getNom() }}',null,'{{ datePonctsString }}',null,null,null)">Modifier</button>
                    {% endif %}
                {%else%}
                        {% set dateReccu_Debut = [] %}
                        {% set dateReccu_Fin   = [] %}
                        {% set dateReccu_Type  = [] %}
                        {%for dateR in annonce.getRecurrence()%}
                            {% if dateR.typeRecurrence == 'quotidienne' %}
                                {% set formatFin = 'Y-m-d' %}
                            {% elseif dateR.typeRecurrence == 'hebdomadaire' %}
                                {% set formatFin = 'Y-!W'%}
                            {% elseif dateR.typeRecurrence == 'mensuelle' %}
                                {% set formatFin = 'Y-m' %}
                            {% endif %}
                            {% set dateReccu_Debut = dateReccu_Debut|merge([dateR.getDateDebut()|date('Y-m-d H:i')]) %}
                            {% set dateReccu_Fin   = dateReccu_Fin|merge([dateR.getDateFin()|date(formatFin)]) %}
                            {% set dateReccu_Type  = dateReccu_Type|merge([dateR.typeRecurrence]) %}
                        {%endfor%}
                        {% set dateReccu_Debut_String = dateReccu_Debut|json_encode|escape('js') %}
                        {% set dateReccu_Fin_String  =  dateReccu_Fin|json_encode|escape('js') %}
                        {% set dateReccu_Type_String = dateReccu_Type|json_encode|escape('js') %}
                    <button class="modifier" onclick="openAnnonceDialog('{{ annonce.getPrix() }}', '{{ annonce.getTitre()|escape('js') }}', '{{ annonce.getDescription()|escape('js') }}', '{{ annonce.getId() }}', '{{ annonce.getType() }}', '{{ annonce.getCategorie().getNom() }}',null,null,'{{ dateReccu_Debut_String }}','{{ dateReccu_Fin_String }}','{{ dateReccu_Type_String }}')">Modifier</button>
                {%endif%}
            {% endif %}
            <button class="supprimer" onclick="confirmerSuppression(event,'{{ annonce.getId() }}')">Supprimer</button>
        </div>
    {% endfor %}
</div>

{#Edition d'une annonce#}
<dialog id="editAnnonceDialog">
    <h2>Modifier l'annonce</h2>
    <form onsubmit="submitAnnonceForm(event)" >
        <div>
            <label for="editTitre">Titre :</label>
            <input type="text" id="editTitre" name="titre" required>
        </div>
        <div>
            <label for="editPrix">Prix :</label>
            <input type="text" class="input_small" id="editPrix" name="prix" pattern="[0-9]*" title="Entrez un prix valide (par exemple, 10, 50)" required />$<br />
        </div>

        {#Bloc de modification pour les matériels#}
        <div id="blocMateriel">
            <div>
                <label for="editCategorieMat">Matériel : </label>
                <select name="editCategorieMat" id="editCategorieMat" required>
                    <option value="">Sélectionnez un tag pour votre matériel</option>
                    {% for mats in catMat %}
                        <option value="{{ mats.getNom() }}">{{ mats.getNom() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="duree_pret">Durée : </label>
                <input type="text" class="input_small" id="editDureeNombre" name="duree_pret_valeur" pattern="[0-9]+" title="Entrez une durée valide (par exemple : 12 heures)" required />
                <select name="duree_pret" id="editDureePeriode" >
                    <option value="heures">heures</option>
                    <option value="jours">jours</option>
                </select>
            </div>
        </div>

        {#Bloc de modification pour les services#}
        <div id="blocService">
            <div>
                <label for="editCategorieService">Service : </label>
                <select name="editCategorieService" id="editCategorieService" required>
                    <option value="">Sélectionnez un tag pour votre Service</option>
                    {% for serv in catService %}
                        <option value="{{ serv.getNom() }}">{{ serv.getNom() }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="special-div">
                <label for="date_pret">Date et heure du service * </label>
                <input type="datetime-local" id="date_pret" name="date_pret" min="{{ "now"|date("Y-m-d") }}T00:00" title="Date et heure du prêt optionnel, doit être supérieur à maintenant" required />
                <label for="recurrence">Récurrence </label>
                <select name="recurrence" id="recurrence">
                    <option value="">Aucune récurrence</option>
                    <option value="hebdomadaire">Hebdomadaire</option>
                    <option value="quotidienne">Quotidienne</option>
                    <option value="mensuelle">Mensuelle</option>
                </select>
                <br />
    
                <div id="periode">
                <div id="jours" style="display:none;">
                    <label for="jour_fin">Jour de fin (compris) *</label>
                    <input type="date" id="additional_ends[]" name="additional_ends[]" class="additional-end" min="{{ "now"|date("Y-m-d") }}"><br>
                </div>

                <div id="mois" style="display:none;">
                    <label for="mois_fin">Mois de fin (compris) *</label>
                    <input type="month" id="additional_ends[]" name="additional_ends[]" class="additional-end" min="{{ "now"|date("Y-m") }}" ><br>
                </div>

                <div id="semaine" style="display:none;">
                    <label for="semaine_fin">Semaine de fin (comprise) *</label>
                    <input type="week" id="additional_ends[]" name="additional_ends[]" class="additional-end" min="{{ "now"|date("Y") }}-W{{ "now"|date("W") }}" ><br>
                </div>
                </div>
            </div>

                <br /><button type="button" id="addDateButton">Ajouter une autre date</button><br /><br />

                <div id="additionalDates"></div>
        </div>


        <div>
            <label for="editDescription">Description :</label>
            <br />
            <textarea id="editDescription" class="editDescription" name="description"></textarea>
        </div>

        {#Boutons#}
        <div class="boutonsDialog">
            <button type="submit" class="but boutonDialog">Valider</button>
            <button type="button" class="but boutonDialog" onclick="closeAnnonceDialog()">Annuler</button>
        </div>
    </form>
</dialog>
<script src="{{ asset('scripts/service.js') }}"></script>
{% endblock %}
