{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/messagerie.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/annonces.css') }}">
    <script src="{{ asset('scripts/messagerie.js') }}"></script>
{% endblock %}

{% block title %}Messages{% endblock %}
{# templates/base.html.twig #}

{% block body %}
    <div class="container">
        <div class="colonne-gauche">
            {% include 'messagerie/messagesRefresh.html.twig' %}
        </div>
        <div class="colonne-droite">
            <div class="section-haut">
                <h3 class="cache"></h3>
            </div>
            <div class="section-bas">
                <p>Sélectionnez une transaction pour voir les messages.</p>
                <!-- Messages ici dans messages.html.twig -->
            </div>
            <div class="section-actions cache" id="actions">
                <button>Valider</button>
                <textarea class="messInput" id="input" maxlength="500" placeholder="Envoyer un message" oninput="ajusterTaille()" onkeypress="entree(event, '{{app.user.username}}')"></textarea>
                <span class="material-icons send" onclick="send('{{app.user.username}}')">send</span>
            </div>
        </div>
    </div>


{% endblock %}
