{% for msg in messages %}
    {% set isUser = msg.expediteur == app.user ? "utilisateur" : "" %}
    <div class="message {{isUser}}">
        {% set parties = msg.contenu|split('\n') %}
        <span class="texte-message">
        {% for partie in parties %}
            {{ partie }}<br>
        {% endfor %}
        </span>
    </div>
    {% set maintenant = "now"|date("Y-m-d") %}
    {% set date_message = msg.dateEnvoi|date("Y-m-d") %}
    <span class="date {{isUser}}">
        {% if maintenant == date_message %}
            {{ "auj."|capitalize }} {{ msg.dateEnvoi|date("H:i") }}
        {% elseif maintenant|date_modify("-1 day")|date("Y-m-d") == date_message %}
            {{ "hier"|capitalize }} {{ msg.dateEnvoi|date("H:i") }}
        {% else %}
            {{ msg.dateEnvoi|date("d/m/Y H:i") }}
        {% endif %}
    </span>
{% endfor %}