<div class="titre-messages">
    <h2>Discussions</h2>
</div>
{% for transaction in transactions %}
    {% set interlocuteur = (transaction.annonce.posteur == app.user) ? transaction.client : transaction.annonce.posteur %}
    <div class="destinataire" id="{{transaction.id}}" onclick="updateDiscussion(this, '{{interlocuteur.username}}')">
        {% if transaction.annonce.posteur == app.user %}Votre a{% else %}A{% endif %}nnonce '<span style="font-weight: bold;">{{ transaction.annonce.titre }}</span>'{% if transaction.client == app.user %} par <span class="nom">{{transaction.annonce.posteur.username}}{% endif %}</span>
        <br><br>
        <div>
            {% if transaction.messages is not empty %}
                {% set dernierMessage = transaction.messages|last %}
                {% set maintenant = "now"|date("Y-m-d") %}
                {% set date_message = dernierMessage.dateEnvoi|date("Y-m-d") %}
                <span class="date">
                {% if maintenant == date_message %}
                    {{ "auj."|capitalize }} {{ dernierMessage.dateEnvoi|date("H:i") }}
                {% elseif maintenant|date_modify("-1 day")|date("Y-m-d") == date_message %}
                    {{ "hier"|capitalize }} {{ dernierMessage.dateEnvoi|date("H:i") }}
                {% else %}
                    {{ dernierMessage.dateEnvoi|date("d/m/Y H:i") }}
                {% endif %}
                </span>
                {% if dernierMessage.expediteur != app.user %}{{dernierMessage.expediteur.username}}: {% endif %}<span class="preview-message">{{ dernierMessage.getMessageDecrypter() }}</span>
            {% else %}
                <span class="preview-message">Nouvelle transaction. Envoyez un message !</span>
            {% endif %}
        </div>
    </div>
{% endfor %}