{# Formulaire quand personne n'a encore validé #}
<h2>
    Annonce : {{ transaction.annonce.titre }}
</h2>
<p>Une fois que vous vous êtes mis d'accord sur votre transaction, vous devez tous les 2 valider l'échange.<br>
    Vous pouvez aussi si besoin modifier le prix {% if transaction.annonce.getType() == "Materiel" %} et/ou la durée du prêt {% endif %} selon votre accord.
</p>
<br>

{% set statut = transaction.getStatutTransaction() == 'En cours' %}
{# personne n'a encore validé #}
{% if statut == 'En cours' %}
    <form action="{{ path('validation1') }}" method="POST">
        <input type="hidden" name="id" value="{{transaction.id}}"> 
        <div>
        Prix Final : <input type="number" name="prix" value="{{transaction.annonce.prix}}" required> florains
        </div>
        <br>

        {% if transaction.annonce.getType() == "Materiel" %}
            {% set d = transaction.annonce.duree|split(' ') %}
            Durée fin : <input type="number" name="duree" value="{{d[0]}}" title="Entrez une durée valide (par exemple : 12 heures)" required />
            <select name="duree_pret"  >
                <option value="heures" {% if d[1] == "heures" %}selected{% endif %}>heures</option>
                <option value="jours" {% if d[1] == "jours" %}selected{% endif %}>jours</option>
            </select><br />
            Quand se passera l'échange ? : <input type="datetime-local" name="dateDebut" required><br><br>
        {% endif %}
        <div>
            <button type="submit" class='but boutonDialog'>Valider</button>
            <button type="button" class='but boutonDialog' onclick="closeValidDialog()">Annuler</button>
        </div>
    </form>
{% elseif statut != 'Terminer' %}
{# quelqu'un a déjà validé, on montre les informations (et si c'est la personne qui n'a pas validé qui clique, on lui demande de faire un choix #}
Prix d'origine : <span>{{transaction.annonce.prix}}</span><br>
Nouveau Prix : <span>{{transaction.prixFinal}}</span><br>

{% if transaction.annonce.getType() == "Materiel" %}
    Durée d'origine : <span>{{transaction.annonce.duree}}</span><br>
    Nouvelle durée : <span>{{transaction.dureeFinal}}</span><br>

    Date de l'échange (= début du prêt) : <span>{{transaction.dateDebutPret|date('d-m-Y')}}</span><br>
{% endif %}

<div>
    {% set userRoleValide = transaction.getStatutTransaction()|split('-')[1] %}
    {% if userRole != userRoleValide %}
    <button onclick="accepter()">Accepter</button>
    <button onclick="refuser()">Refuser</button>
    {% endif %}
    <button type="button" onclick="closeValidDialog()">Annuler</button>

</div>
{% else %}
Transaction terminée !

Prix d'origine : <span>{{transaction.annonce.prix}}</span><br>
Nouveau Prix : <span>{{transaction.prixFinal}}</span><br>

{% if transaction.annonce.getType() == "Materiel" %}
    Durée d'origine : <span>{{transaction.annonce.duree}}</span><br>
    Nouvelle durée : <span>{{transaction.dureeFinal}}</span><br>
{% endif %}

<button type="button" onclick="closeValidDialog()">Fermer</button>

{% endif %}

