<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EcoPrêt{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" id='theme' href="{{ asset('styles/themes/light_mode.css') }}">
        <link rel="stylesheet" id='theme' href="{{ asset('styles/header.css') }}">
        <link rel="stylesheet"  href="{{ asset('styles/notif.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script>
            document.addEventListener("DOMContentLoaded", function () {
                var notification = document.querySelector('.alert-notifAnnonces');
                if (notification) {
                    setTimeout(function() {
                        notification.remove();
                        console.log('remove');
                    }, 3000); // .3 secondes
                }
            });
            </script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div style="display:flex;">
                <div class="logo"><a href="/">EcoPrêt</a></div>
                <span class='material-icons theme' onClick='switch_theme(this)'>light_mode</span>
            </div>
            <div class="aDroite">
                <div class='lien'><a href='#'>Se connecter</a></div>
                <div class='lien'><a href="{{ path('app_register') }}">S'inscrire</a></div>
            </div>
        </header>

        {#Notifications#}
        {% for message in app.session.flashbag.get('notificationAnnonces') %}
            <div class="alert-notifAnnonces">
                {{ message }}
            </div>
        {% endfor %}

        <div class="content">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <p class="copyright">©EcoPrêt. Tous droits réservés.</p>
        </footer>
    </body>
</html>
