<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" id='theme' href="{{ asset('styles/header.css') }}">
        <link rel="stylesheet"  href="{{ asset('styles/notif.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            <script>
            document.addEventListener("DOMContentLoaded", function () {
                var notification = document.querySelector('.alert-notif');
                if (notification) {
                    setTimeout(function() {
                        notification.remove();
                        console.log('remove');
                    }, 3000); // .3 secondes
                }
            });
            </script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div style="display:flex;">
                <div class="logo"><a href="/">EcoPrêt</a></div>
            </div>
            <div class="aDroite">
                {% if app.user %}
                    <div class="solde">Solde : {{ app.user.nbflorains }} <span class="material-icons">attach_money</span></div>
                    {% if app.user.contientUnMsgNonLu() %}
                        <div class="lien"><a href="{{ path('app_messagerie') }}"><span class="material-icons">mark_email_unread</span></a></div>
                    {%else%}
                        <div class="lien"><a href="{{ path('app_messagerie') }}"><span class="material-icons">mail</span></a></div>
                    {%endif%}
                    
                    {%if app.user.contientUneNotifNonLu() %}
                        <div class="lien"><a href="{{ path('app_notification') }}"><span class="material-icons" style="color: red;">notifications_active</span></a></div>
                    {%else%}
                        <div class="lien"><a href="{{ path('app_notification') }}"><span class="material-icons">notifications</span></a></div>
                    {%endif%}
                    <div class='lien'><a href="{{ path('app_profile') }}">Mon Profil</a></div>
                    <div class='lien'><a href="{{ path('app_logout') }}">Se déconnecter</a></div>
                {% else %}
                    <div class='lien'><a href="{{ path('app_login') }}">Se connecter</a></div>
                    <div class='lien'><a href="{{ path('app_register') }}">S'inscrire</a></div>
                {% endif %}
            </div>
        </header>

        {# Notifications #}
        {% for message in app.session.flashbag.get('notifications') %}
            <div class="alert-notif">
                {{ message }}
            </div>
        {% endfor %}

        <div class="content">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <p class="copyright">© EcoPrêt. Tous droits réservés.</p>
        </footer>
    </body>
</html>
