{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/profil.css') }}">
<script src="{{ asset('scripts/profil.js') }}"></script>
{% block ss2 %}{% endblock %}
{% endblock %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="intro">
    <div>
        Voici les annonces de <span class="bold">{{ user.username }}</span> !
    </div>
</div>

<div class="tab-container">
    <div class="tab-buttons">
        <a class="tab-button" href="{{ path('app_profile_public', {'id': user.id}) }}">Informations</a>
        <a class="tab-button active" href="{{ path('app_profile_public_annonces', {'id': user.id}) }}">Ses Annonces</a>
        <a class="tab-button" href="{{ path('app_profile_public_planning', {'id': user.id}) }}">Son Planning</a>
    </div>

    {% block contenu %}{% endblock %}
</div>

</body>
</html>

{% endblock %}