{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/profil.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/vueAnnonces.css') }}">
<link rel="stylesheet" href="{{ asset('styles/annonces.css') }}">
<link rel="stylesheet" href="{{ asset('styles/annonce.css') }}">
<link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
<link rel="stylesheet" href="{{ asset('styles/statut.css') }}">
<link rel="stylesheet" href="{{ asset('styles/input.css') }}">
<link rel="stylesheet" href="{{ asset('styles/etoiles.css') }}">
<script src="{{ asset('scripts/accueil.js') }}"></script>
<script src="{{ asset('scripts/profil.js') }}"></script>
<script src="{{ asset('scripts/annonces.js') }}"></script>
{% endblock %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="intro">
    <div>
        Voici les annonces de <span class="bold">{{ user.username }}</span> !
    </div>
</div>

<div class="tab-container">
    <div class="tab-buttons">
        <a class="tab-button" href="{{ path('app_profile_public', {'id': user.id}) }}">Avis</a>
        <a class="tab-button active" href="{{ path('app_profile_public_annonces', {'id': user.id}) }}">Ses Annonces</a>
        <a class="tab-button" href="{{ path('app_profile_public_planning', {'id': user.id}) }}">Son Planning</a>
    </div>

    {% block container %}

{% block contenu %}

<h3>Ses Annonces</h3>
<div class="tout">
        {% for annonce in annonces %}
            <span onclick="showAnnonce(event, '{{annonce.id}}')" class="lienAnnonce">
            <div class="blocAnnonce">
                <div>
                    <span class="prix" >{{ annonce.getPrix() }}<span class="material-icons">attach_money</span></span>
                    <span class="username">{{ annonce.getPosteur().getUsername() }}</span>
                </div>
                <div class="type">{{ annonce.getType() }}</div>
                <div class="categorie">{{ annonce.getCategorie().getNom() }}</div>
                {% if annonce.getType() == "Materiel" %}
                    <div class="duree">
                        Durée du prêt : {% if annonce.mode is null %}Non défini{% elseif annonce.mode == 'jours' %}{{ annonce.dureeH /24 }}{% else %}{{ annonce.dureeH }}{% endif %} {{ annonce.mode }}
                    </div>
                {% else %}
                    <div class="limite">Du : {{ annonce.dateDebut()|date('d M Y H:i') }}<br>
                        Au : {{ annonce.dateFin()|date('d M Y H:i') }}</div>
                {% endif %}
                <h3>{{ annonce.getTitre() }}</h3>
                <div class="description">{{ annonce.getDescription() }}</div>
                {% if annonce.getType() == "Materiel" %}
                    <button class="modifier" onclick="openAnnonceDialog('{{ annonce.getPrix() }}', '{{ annonce.getTitre()|escape('js') }}', '{{ annonce.getDescription()|escape('js') }}', '{{ annonce.getId() }}', '{{ annonce.getType() }}', '{{ annonce.getCategorie().getNom()|escape('js') }}','{{ annonce.getDureeH() }}',null,null,null,null)">Modifier</button>
                {% endif %}
                {% if annonce.getType() == "Service" %}
                    {%if annonce.getDatePoncts().get(0) != null%}
                        {% set datePoncts = [] %}
                        {%for dateP in annonce.getDatePoncts()%}
                            {% set datePoncts = datePoncts|merge([dateP.date|date('Y-m-d H:i')]) %}
                        {%endfor%}
                        {% set datePonctsString = datePoncts|json_encode|escape('js') %}
                        {% if annonce.getRecurrence().get(0)!=null  %}
                            {% set dateReccu_Debut = [] %}
                            {% set dateReccu_Fin   = [] %}
                            {% set dateReccu_Type  = [] %}
                            {%for dateR in annonce.getRecurrence()%}
                                {% if dateR.typeRecurrence == 'quotidienne' %}
                                    {% set formatFin = 'Y-m-d' %}
                                {% elseif dateR.typeRecurrence == 'hebdomadaire' %}
                                    {% set formatFin = 'Y-!W'%}
                                {% elseif dateR.typeRecurrence == 'mensuelle' %}
                                    {% set formatFin = 'Y-m' %}
                                {% endif %}
                                {% set dateReccu_Debut = dateReccu_Debut|merge([dateR.getDateDebut()|date('Y-m-d H:i')]) %}
                                {% set dateReccu_Fin   = dateReccu_Fin|merge([dateR.getDateFin()|date(formatFin)]) %}
                                {% set dateReccu_Type  = dateReccu_Type|merge([dateR.typeRecurrence]) %}
                            {%endfor%}
                            {% set dateReccu_Debut_String = dateReccu_Debut|json_encode|escape('js') %}
                            {% set dateReccu_Fin_String  =  dateReccu_Fin|json_encode|escape('js') %}
                            {% set dateReccu_Type_String = dateReccu_Type|json_encode|escape('js') %}
                            <button class="modifier" onclick="openAnnonceDialog('{{ annonce.getPrix() }}', '{{ annonce.getTitre()|escape('js') }}', '{{ annonce.getDescription()|escape('js') }}', '{{ annonce.getId() }}', '{{ annonce.getType() }}', '{{ annonce.getCategorie().getNom()|escape('js') }}',null,'{{ datePonctsString }}','{{ dateReccu_Debut_String }}','{{ dateReccu_Fin_String }}','{{ dateReccu_Type_String }}')">Modifier</button>
                        {% else %}
                            <button class="modifier" onclick="openAnnonceDialog('{{ annonce.getPrix() }}', '{{ annonce.getTitre()|escape('js') }}', '{{ annonce.getDescription()|escape('js') }}', '{{ annonce.getId() }}', '{{ annonce.getType() }}', '{{ annonce.getCategorie().getNom()|escape('js') }}',null,'{{ datePonctsString }}',null,null,null)">Modifier</button>
                        {% endif %}
                    {%else%}
                            {% set dateReccu_Debut = [] %}
                            {% set dateReccu_Fin   = [] %}
                            {% set dateReccu_Type  = [] %}
                            {%for dateR in annonce.getRecurrence()%}
                                {% if dateR.typeRecurrence == 'quotidienne' %}
                                    {% set formatFin = 'Y-m-d' %}
                                {% elseif dateR.typeRecurrence == 'hebdomadaire' %}
                                    {% set formatFin = 'Y-!W'%}
                                {% elseif dateR.typeRecurrence == 'mensuelle' %}
                                    {% set formatFin = 'Y-m' %}
                                {% endif %}
                                {% set dateReccu_Debut = dateReccu_Debut|merge([dateR.getDateDebut()|date('Y-m-d H:i')]) %}
                                {% set dateReccu_Fin   = dateReccu_Fin|merge([dateR.getDateFin()|date(formatFin)]) %}
                                {% set dateReccu_Type  = dateReccu_Type|merge([dateR.typeRecurrence]) %}
                            {%endfor%}
                            {% set dateReccu_Debut_String = dateReccu_Debut|json_encode|escape('js') %}
                            {% set dateReccu_Fin_String  =  dateReccu_Fin|json_encode|escape('js') %}
                            {% set dateReccu_Type_String = dateReccu_Type|json_encode|escape('js') %}
                        <button class="modifier" onclick="openAnnonceDialog('{{ annonce.getPrix() }}', '{{ annonce.getTitre()|escape('js') }}', '{{ annonce.getDescription()|escape('js') }}', '{{ annonce.getId() }}', '{{ annonce.getType() }}', '{{ annonce.getCategorie().getNom()|escape('js') }}',null,null,'{{ dateReccu_Debut_String }}','{{ dateReccu_Fin_String }}','{{ dateReccu_Type_String }}')">Modifier</button>
                    {%endif%}
                {% endif %}
                <button class="supprimer" onclick="confirmerSuppression(event,'{{ annonce.getId() }}')">Supprimer</button>
            </div>
        </span>
        {% endfor %}
</div>
{% endblock %}
{% endblock %}
</div>

</body>
</html>

{% endblock %}