{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
<link rel="stylesheet" href="{{ asset('styles/annonce.css') }}">
{% endblock %}

{% block title %}Hello FaireReclamationController!{% endblock %}

{% block body %}

<div>
<form action="{{ path('handle_form') }}" method="post">
    <label for="materiel">Objet de la réclamation * </label>
    <select name="recla" id="recla" required>
        <option value="">Sélectionnez un objet pour votre réclamation</option>
        {% for obj in objets %}
            <option value="{{ obj.getNom() }}">{{ obj.getNom() }}</option>
        {% endfor %}
    </select><br /><br />

    <div id="annonces_litige">
        <label for="annonces">Annonce concernée par le litige </label>
        <select name="annonce" id="annonce_l">
        {% for tr in transactions %}
            <option value="{{ tr.getAnnonce().getTitre() }}">{{ tr.getAnnonce().getTitre() }}</option>
        {% endfor %}
        </select><br /><br />
    </div>

    <br />
    <label for="description">Description *</label><br />
    <textarea name="description" required></textarea><br />
    <br />

    </br>
    <label for="prix">* Champs obligatoires</label>
    </br>

    <button>Valider</button>
    <a href="{{ path('app_home_page') }}"><button type="button">Annuler</button></a>
</form>
</div>

<script>
document.getElementById('recla').addEventListener('change', function () {
    var obj = this.value;
    if (obj === "Litige") {
        var container = document.getElementById("annonce_l");
        container.value = container.firstChild.value;
        var container2 = document.getElementById("annonces_litige");
        container2.style.display = "block";
    }else{
        var container = document.getElementById("annonce_l");
        container.value = "";
        var container2 = document.getElementById("annonces_litige");
        container2.style.display = "none";
    }
});
</script>
{% endblock %}
