{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/annonces.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/statut.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/vueAnnonces.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/vueTransactions.css') }}">
    

{% endblock %}
{% block title %}Transaction - {{transaction.annonce.titre}}{% endblock %}

{% block body %}
    
    <div>
        <h2 class="centrer">{{transaction.annonce.titre}}</h2>

        Posté par&nbsp;<b>{{ transaction.annonce.posteur.username }}</b>&nbsp; <br />
        Client &nbsp;<b>{{ transaction.client.username }}</b>&nbsp;

        <br>
        <span class="bold">Prix</span> : {{ transaction.getPrixFinal()}}<span class="material-icons">attach_money</span>
        <br>
        <div class="type">{{ transaction.annonce.getType() }}</div>
        <div class="categorie">{{ transaction.annonce.getCategorie().getNom() }}
    </div>
    <br><br>
    {% if transaction.annonce.getType() == "Materiel" %}<div class="duree"><span class="bold">Durée du prêt </span> : {{ transaction.getDureeFinal() }}</div>
    {% else %}
    <span class="bold">Horaires</span> :
    {% if not (transaction.annonce.datePoncts is empty) %}Le(s){% endif %}
    {% for x in transaction.annonce.datePoncts %}
        {{x.date|date('d M Y')}},
    {% endfor %}
    <br>
    {% for x in transaction.annonce.recurrence %}
        {% if x.typeRecurrence == 'quotidienne' %}
            Tous les jours 
        {% elseif x.typeRecurrence == 'hebdomadaire' %}
            Toutes les semaines 
        {% elseif x.typeRecurrence == 'mensuelle' %}
            Tous les mois 
        {% endif %}
        du {{x.dateDebut|date('d M Y')}} au {{x.dateFin|date('d M Y')}},<br>
    {% endfor %}
    {% endif %}
    <br>
    <span class="bold">Description</span> :
    <p class="descriptionTransac">{{ transaction.annonce.description }}</p><br>
    </div>
    <div class="evaluation">
        <div>
            <b>Note</b>
            <div class="stars">

                {% if app.user.username != transaction.annonce.posteur.username %}
                    {% set note = transaction.getNoteClient() is null ? 0 : transaction.getNoteClient() %}           
                {% else %}
                    {% set note = transaction.getNoteOffrant() is null ? 0 : transaction.getNoteOffrant() %}
                        
                {% endif %}
                {% if note == 0 %}
                    {% for i in range(5-note,1) %}
                        <span class="star">&#9734;</span>
                    {% endfor %}
                {% else %}
                    {% for i in range(0,note-1) %}
                        <span class="star">&#9733;</span>
                    {% endfor %}
                    {% if note < 5 %}
                        {% for i in range(5-note,1) %}
                                <span class="star">&#9734;</span>
                        {% endfor %}
                    {% endif %}   
                {% endif %}
            </div>
            <div class="avis">
                <label for="commentaire"><b>Commentaire</b></label><br />
                {% if app.user.username != transaction.annonce.posteur.username %}
                    <textarea id="commentaire" name="commentaire" >{{transaction.getCommentaireClient()}}</textarea><br />
                {%else%}
                    <textarea id="commentaire" name="commentaire" >{{transaction.getCommentaireOffrant()}}</textarea><br />
                {% endif %}
            </div>

            {% if app.user.username == transaction.client.username %}
            
                <div class="boutonContainer">

                <div class="boutonValiderNote">
                    <button onclick="validerNoteClient('{{ transaction.client.username }}', {{ transaction.id }})" >Confirmer et envoyer la note à {{ transaction.annonce.posteur.username }}</button>
                </div>

                <div class="boutonAnnuler">
                    <a href="{{ path('app_profile_transactions') }}">
                    <button >Annuler</button>
                </div>

                </div>

            {% else %}

                <div class="boutonValiderNote">
                    <button onclick="validerNotePosteur('{{ transaction.annonce.posteur.username }}', {{ transaction.id }})" >Confirmer et envoyer la note à {{ transaction.client.username }}</button>
                </div>

                <div class="boutonAnnuler">
                    <a href="{{ path('app_profile_transactions') }}">
                    <button >Annuler</button>
                </div>


            {% endif %}
        
        </div>
    </div>

<script src="{{ asset('scripts/vueTransaction.js') }}"></script>
{% endblock %}
